<!DOCTYPE html>
   <head>
      <title>ADXL Sensor data </title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>
   <body>
	<h1>ADXL Sensor Data </h1>
	<h3> X ==>  {{ x  }} </h3>
	<h3> Y ==>  {{ y  }} </h3>
	<h3> Z ==>  {{ z  }} </h3>
	<h3> X2 ==>  {{ x2  }} </h3>
	<h3> Y2 ==>  {{ y2  }} </h3>
	<h3> Z2 ==>  {{ z2  }} </h3>
	<hr>
	<h3> Last Sensors Reading: {{ time }} ==> <a href="/"class="button">REFRESH</a></h3>	
	<h3> Camera ==> <a href="/camera"class="button">CAMERA</a></h3>
	
	<h3> Start recording ==> <a href="/logADXL.py" class="button">Record</a>
	</hr>
   </body>
</html>
