<!DOCTYPE html>
<html  lang="en" dir="ltr">
<head>
    <meta charset="utf-8">

    <title>Flask App </title>

    <!-- Bootstraps Java Scipts Links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <!-- JQuery links  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- High Chart Live -->
    <script src="https://code.highcharts.com/stock/highstock.js"></script>

    <div id="container"></div>
</head>
<style>
#container {
    min-width: 310px;
    max-width: 800px;
    height: 400px;
    margin: 0 auto
}
</style>

<script>

function getX() {
    return Math.random() * 50
}

function getTemp2() {
    return Math.random() * 100
}

function getTemp3(){
    return Math.random() * 75
}

function getData() {
    var data = [],
        time = (new Date()).getTime(),
        i;

    for (i = -200; i <= 0; i += 1) {
        data.push({
            x: time + i * 1000,
            y: 0
        });
    }
    return data;
}

Highcharts.stockChart('container', {
    chart: {
        backgroundColor: 'transparent',
        events: {
            load: function() {
                var series1 = this.series[0],
                    series2 = this.series[1];
                    series3 = this.series[2];

                setInterval(function() {
                    var x = (new Date()).getTime(),
                        y1 = Number(getTemp()),
                        y2 = Number(getTemp2());
                        y3 = Number(getTemp3());

                    series1.addPoint([x, y1], false, true);
                    series2.addPoint([x, y2], true, true);
                    series3.addPoint([x. y3], false, true);

                }, 1000);
            }
        }
    },

    xAxis: {
        type: 'datetime',
        labels: {
            style: {},
        },
        tickPixelInterval: 200,
    },

    yAxis: {
        type: 'linear',
        labels: {
            y: 5,
            style: {},
        },
    },

    series: [{
        data: getData()
    }, {
        data: getData()
    }]
});
</script>
</html>

