<!DOCTYPE html>
<html  lang="en" dir="ltr">
<head>
    <meta charset="utf-8">

    <title>Flask App </title>

    <!-- Bootstraps Java Scipts Links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



    <!-- JQuery links  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <!--High CHART LIVE  -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <!--Gauge  -->
    <script type="text/javascript" src="http://pubnub.github.io/eon/lib/eon.js"></script>


</head>

<body>

  <div class="jumbotron">
      <h1 class="text-center text-white">Welcome to Sensor Visualization </h1>
  </div>
  

  <style>

      .jumbotron{
          widows: 150px;
          height: 220px;
          justify-content: center;
      }

      .row{
          justify-content: center;
      }


  </style>

  <div class="container-fluid">
      <!-- Example row of columns -->
      <div class="row">
          <div class="container-fluid" id="data-X">

          </div>
      </div>
  </div>
<br>
<br>
<br>

  <div class="container-fluid">
      <!-- Example row of columns -->
      <div class="row">
          <div class="container-fluid" id="data-Y">

          </div>
      </div>
  </div>
<br>
<br>
<br>

  <div class="container-fluid">
      <!-- Example row of columns -->
      <div class="row">
          <div class="container-fluid" id="data-Z">

          </div>
      </div>
  </div>

  <script>
    var chartX;
    var chartY;
    var chartZ;

    function requestData()
    {
        // Ajax call to get the Data from Flask
        var requests = $.get('/data');

        var tm = requests.done(function (result)
        {
            // X Coords
            var series = chart.series[0],
                shift = series.data.length > 20;

            // // Y Coords
            // var seriesY = chartY.series[0],
            //     shiftY = seriesY.data.length > 500;

            // // Y Coords
            // var seriesZ = chartZ.series[0],
            //     shiftZ = seriesZ.data.length > 500;
            var values = eval(point);
                chart.series[0].addPoint([values[0], vaalues[1]], true, shift);
                chart.series[1].addPoint([values[0], vaalues[2]], true, shift);
                chart.series[2].addPoint([values[0], vaalues[3]], true, shift);
            // Add the Point
            // Time X
            // var data1 = [];
            // data1.push(result[0]);
            // data1.push(result[1]);


            // Add the Point
            // Time Y
            // var data2 = [];
            // data2.push(result[0]);
            // data2.push(result[2]);

            // Add the Point
            // Time Z
            // var data3 = [];
            // data3.push(result[0]);
            // data3.push(result[3]);


            // chartX.series[0].addPoint(data1, data2, data3, true, shiftX);
            // chartY.series[0].addPoint(data2, true, shiftY);
            // chartZ.series[0].addPoint(data3, true, shiftZ);
            

            // call it again after one second
            setTimeout(requestData, 200);

        });
    }

    $(document).ready(function()
    {
        // --------------Chart 1 ----------------------------
        chartX = new Highcharts.Chart({
            chart:
                {
                renderTo: 'data-X',
                defaultSeriesType: 'area',
                events: {
                    load: requestData
                        }
                },
            title:
                {
                text: 'X Coords'
                },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150,
                maxZoom: 20 * 1000
                    },
            yAxis: {
                minPadding: 0.2,
                maxPadding: 0.2,
                title: {
                    text: 'Value',
                    margin: 80
                        }
                     },
            series: [{
                color : '#c23d23',
                lineColor: '#303030',
                name: 'X Coords',
                data: []
            }]
        });
         // --------------Chart 1 Ends - -----------------

         chartY = new Highcharts.Chart({
                chart:
                    {
                        renderTo: 'data-Y',
                        defaultSeriesType: 'line',
                        events: {
                            load: requestData
                        }
                    },
                title:
                    {
                        text: 'Y Coords'
                    },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Value',
                        margin: 80
                    }
                },
                series: [{
                    lineColor: '#1d82b8',
                    name: 'Y Coords',
                    data: []
                }]
            });
            // --------------Chart 2 Ends ----------------------------
        chartZ = new Highcharts.Chart({
            chart:
                {
                renderTo: 'data-Z',
                defaultSeriesType: 'line',
                events: {
                    load: requestData
                        }
                },
            title:
                {
                text: 'Z Coords'
                },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150,
                maxZoom: 20 * 1000
                    },
            yAxis: {
                minPadding: 0.2,
                maxPadding: 0.2,
                title: {
                    text: 'Value',
                    margin: 80
                        }
                     },
            series: [{
                color : '#c23d23',
                lineColor: '#303030',
                name: 'Z Coords',
                data: []
            }]
        });

        });
    </script>

</body>
</html>