<div class="container-fluid">

    <div class="row">

          <div class="col-3 jumbotron p-2 mx-1">
              <h1 class="sensor1"> X Coords: </h1>
          </div>
          <br>

          <div class="col-3 jumbotron p-2 mx-1">
              <h1 class="sensor2">Y Coords :</h1>
          </div>
          <br>

          <div class="col-3 jumbotron p-2 mx-1">
            <h1 class="sensor3">Z Coords :</h1>
        </div>
        <br>
        <!-- 2nd Sensor -->
    <div class="row">
        <div class="col-3 jumbotron p-2 mx-1">
            <h1 class="sensor4">X2 Coords: </h1>
        </div>
        <br>
        <div class="col-3 jumbotron p-2 mx-1">
            <h1 class="sensor5">Y2 Coords: </h1>
        </div>
        <br>

        <div class="col-3 jumbotron p-2 mx-1">
            <h1 class="sensor6">Z2 Coords: </h1>
        </div>
        <br>
    </div>
    </div>
    </div>



    <style>

        .jumbotron{
            widows: 150px;
            height: 220px;
            justify-content: center;
        }
    </style>




<div class="container-fluid">

    <div class="row">

        <div class="col-5 jumbotron p-2 mx-1">
            <h1 class="sensor1"> X Coords: </h1>
        </div>
        <br>

        <div class="col-5 jumbotron p-2 mx-1">
            <h1 class="sensor2">Y Coords :</h1>
        </div>
        <br>

        <div class="col-5 jumbotron p-2 mx-1">
          <h1 class="sensor3">Z Coords :</h1>
      </div>
      <br>



    </div>
</div>


$(".sensor1").text("");
            $(".sensor1").text("X Coords : ");

            $(".sensor2").text("");
            $(".sensor2").text("Y Coords : ");

            $(".sensor3").text("");
            $(".sensor3").text("Z Coords : ");

            $(".sensor4").text("");
            $(".sensor4").text("X2 Coords : ");

            $(".sensor5").text("");
            $(".sensor5").text("Y2 Coords : ");

            $(".sensor6").text("");
            $(".sensor6").text("Z2 Coords : ");